wikiLocation.xcodeproj/project.xcworkspace/xcuserdata/kostya.xcuserdatad/UserInterfaceState.xcuserstate
wikiLocation.xcodeproj/xcuserdata/kostya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
wikiLocation.xcodeproj/xcuserdata/kostya.xcuserdatad/xcschemes/xcschememanagement.plist
